* {
    color: #eceff4;
    border: 0;
    border-radius: 0;
    padding: 0 0;
    font-family:Fira Code;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
   }

window#waybar {
    background:#282a36;
}

#workspaces button {
    padding: 2px 0px;
    color: #f8f8f2;
    margin-top:2px;
}

#workspaces button.focused {
    color: #8be9fd;
}

#mode {
    color: #ff5555;
}

#clock, #battery, #cpu, #memory, #backlight, #network, #pulseaudio, #mode, #tray, #window {
    padding: 0 3px;
}
 
 
#clock {
 color:#50fa7b;
}

#backlight {
    color: #ffb86c;
}

#battery {
    color: #8be9fd;
}

#cpu {
    color:#ff79c6;
}

#memory {
    color: #f1fa8c;
}

#network.disabled {
    color:#bf616a;
}

#network{
    color:#59B690;
}

#network.disconnected {
    color: #6272a4;
}

#pulseaudio {
    color: #bd93f9;
}

#pulseaudio.muted {
    color: #6272a4;
}

#mode{
    margin-bottom:3px;
}
